* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Serif", serif;
}

:root {
    --light-color: hsl(0, 0%, 95%); 
    --dark-color: hsl(180, 4%, 20%);
}

ul {
    list-style: none;
}
header {
    display: flex;
    padding: 0.5rem 4rem 1rem 0;
    align-items: center;
    background-color: var(--dark-color);
}
h1 {
    background-color: var(--light-color);
    padding: 0 0.5rem 0 7rem;
    color: var(--dark-color);
    font-weight: 700;
    font-size: 60px;
}
header nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
header nav ul {
    display: flex;
}
header nav ul li {
    padding: 1rem;
    font-size: 25px;
}
header nav ul li a{
    color: var(--light-color);
}
figure {
    height: 800px;
    width: 100%;
    background-image: url("./images/IMG_0476.JPG");
    opacity: 0.8;
    background-size: cover;
    background-position: 100% 37%;
    background-repeat: repeat;
    display:flex;
    position: relative;
    justify-content: flex-end;

}
figure h3{
    z-index: 3;
    color: black;
    background-color: var(--light-color);
    position: absolute;
    bottom: 30px;
    right: 80px;
    padding: 0.5rem;
    font-size: 30px;
}
main {
    width: 100%;
    padding: 1rem;
}
main section {
    display: flex;
    width: 100%;
    padding: 1rem;
}
.title {
    width: 20%;
    padding: 0 1rem 0 10rem;
}
.title h2 {
    font-size: 50px;
    text-align: right;
    color: var(--dark-color);
    width: 100%;
}
.content {
    width: 80%;
    border-left: 2px solid var(--dark-color);
    padding: 0 1rem;
}
p {
    font-size: 20px;
}
