* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Serif", serif;
}

:root {
    --light-color: hsl(0, 0%, 95%); 
    --dark-color: hsl(180, 4%, 20%);
    --image-border: hsl(0, 0%, 45%);
}

ul {
    list-style: none;
}
header {
    display: flex;
    padding: 0.5rem 4rem 1rem 0;
    align-items: center;
    background-color: var(--dark-color);
}
h1 {
    background-color: var(--light-color);
    padding: 0 0.5rem 0 7rem;
    color: var(--dark-color);
    font-weight: 700;
    font-size: 60px;
}
header nav {
    display: flex;
    flex: 1 0 auto;
    justify-content: flex-end;
}
ul {
    display: flex;
}
ul li {
    padding: 1rem;
    font-size: 25px;
}
header nav ul li a{
    color: var(--light-color);
}

figure h3{
    z-index: 3;
    color: black;
    background-color: var(--light-color);
    position: absolute;
    bottom: 30px;
    right: 80px;
    padding: 0.5rem;
    font-size: 30px;
}
main {
    width: 100%;
    padding: 1rem;
}
main .wrapper {
    display: flex;
    width: 100%;
    padding: 2rem;
}
p {
    font-size: 20px;
}
.content ul {
    width: 100%;
    justify-content: space-between;
}
.content ul li a {
    color: var(--dark-color);
    font-weight: 500;
}
.background-image {
    height: 800px;
    width: 100%;
    background-image: url("./images/IMG_0476.JPG");
    opacity: 0.8;
    background-size: cover;
    background-position: 100% 37%;
    background-repeat: repeat;
    display:flex;
    position: relative;
    justify-content: flex-end;
}
.title {
    width: 20%;
    padding: 0 1rem 0 10rem;
}
.title h2 {
    font-size: 50px;
    text-align: right;
    color: var(--dark-color);
    width: 100%;
}
.content {
    width: 80%;
    border-left: 2px solid var(--dark-color);
    padding: 0 3rem;
}
footer {
    float: right;
    padding: 2rem 4rem 2rem 3rem;
}
.go-up  li a {
    text-decoration: none;
}
.go-up  li a:hover{
    color: hsl(348, 90%, 35%);
    text-decoration: underline;
}

article section {
    display: flex;
    flex: 1 0 auto;
}
article section figure {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.left {
    margin-left: 1rem;
}
.right {
    margin-right: 1rem;
}

.box {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    border: 4px solid var(--image-border);
}

#first-project {
    border: 4px solid var(--image-border);
    background-size: cover;
    background-image: url("./images/Landing-page-project.png");
    height: 600px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 1rem;
}
#second-project {
    background-image: url("./images/Code-refactor-project.png");
}
#third-project {
    background-image: url("./images/Prework-Study-Guide-project.png");
}
#fourth-project {
    background-image: url("./images/pexels-danny-meneses-340146-943096.jpg");
}
#fifth-project {
    background-image: url("./images/pexels-luis-gomes-166706-546819.jpg");
}

