* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Serif", serif;
}

:root {
    --light-color: hsl(181, 48%, 79%); 
    --dark-color: hsl(177, 34%, 14%); 
}

ul {
    list-style: none;
}
header {
    display: flex;
    padding: 0.5rem 4rem 1rem 0;
    align-items: center;
    background-color: var(--dark-color);
}
h1 {
    background-color: var(--light-color);
    padding: 0 0.5rem 0 7rem;
    color: var(--dark-color);
    font-weight: 700;
    font-size: 50px;
}
header nav {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
header nav ul {
    display: flex;
}
header nav ul li {
    padding: 1rem;
    font-size: 25px;
}
header nav ul li a{
    color: var(--light-color);
}
figure {
    height: 200px;
    width: 100%;
    background-image: url("./header-banner-2.jpg");
    background-size: cover;
    background-position: center;
    display:flex;
    position: relative;
    justify-content: flex-end;

}
figure h2{
    z-index: 3;
    color: var(--dark-color);
    background-color: var(--light-color);
    position: absolute;
    bottom: 30px;
    right: 100px;
    padding: 0.5rem;
}